extends layouts/main
block pagejs
  script(src="/pagejs/pagejs-admin-newest-ticket.js")
block content
  // global variable -- records
  - for(var j=0;j<records.length;j++)
    .card.mb-4
      if records[j].photo
        img(class="img-fluid card-img-top" alt="photograph" src=records[j].photo)
      else
        img(class="img-fluid card-img-top" alt="place holder pic" src="/images/box698x250.svg")
      .card-body
        h4.text-center.text-secondary.card-title= '#' + records[j].ticket_id + ':' + records[j].title
        div.card-text
          blockquote= records[j].ticket
          button.float-right.btn.btn-secondary detail
      .card-footer
        .container-fluid
          .row
            small(class="col-sm mx-auto")= records[j].client_time
            small(class="col-sm mx-auto")= 'author - ' +  records[j].admin_alias
            small(class="col-sm mx-auto")= 'category - ' + records[j].category
