extends layouts/main
block content
  //
    has variable :data,it is an array which elements all are object(ins.
    allProperties()
  ul
    each item in data
      li id number is: #{item.id}
      li alias=#{item.alias}
      li browser=#{item.browser}
      li utc_ms=#{item.utc_ms}
      li whatistime=#{item.whatistime}
