extends layouts/main
block pagejs
  script(src="/pagejs/pagejs-admin-newest-ticket.js")
block content
  if records.length === 0
    h2.display-3 None
  else
    // global variable -- records
    - for(var j=0;j<records.length;j++)
      .card.mb-4
        - obj = records[j]
        - type = obj.media_type
        case type
          when 'image/jpeg'
          when 'image/png'
            img(class="img-fluid img-thumbnail card-img-top" alt="photograph" src=obj.media)
          when 'audio/mp3' 
          when 'audio/mpeg' 
          when 'audio/mpeg3'
            .row
              audio(class="d-flex w-75 p-2 mx-auto" controls="controls")
                source(src= obj.media,type= type)
          default
            img(class="img-thumbnail img-fluid card-img-top" alt="place holder pic" src="/images/box-default.svg")
        .card-body
          h4.text-center.text-secondary.card-title= '#' + records[j].ticket_id + ':' + records[j].title
          div.card-text
            blockquote
              p= obj.ticket
              footer.blockquote-footer= obj.keyname
            .btn-group
              button.btn.btn-light.mx-2.p-2(id="commentButton") write your comment
              button.btn.btn-light.mx-2.p-2(id="editTextButton") edit content text 
              button.btn.btn-danger.dropdown-toggle.mx-2.p-2(id="delButton" data-toggle="dropdown") delete
              div.dropdown-menu
                a.dropdown-item(id='deleteOne',data-with-media='false',data-keyname= obj.keyname,href="#") Delete
                - if(!obj.media)
                  a.disabled.dropdown-item(id='deleteOneWithMedia',data-with-media='true',data-keyname= obj.keyname,href="#") Delete With Its Media File
                - else
                  a.dropdown-item(id='deleteOneWithMedia',data-with-media='true',data-keyname= obj.keyname,href="#") Delete With Its Media File
        .card-footer
          .container-fluid
            .row
              small(class="col-sm mx-auto")= records[j].client_time
            .row
              small.col= '撰写人 - ' +  records[j].admin_alias
              small.col= '分类 - ' + records[j].category
