extends ../layouts/main.pug
block pagecss
  style.
    div.content {position:relative;top:4em;}
block pagejs
  script(src="/mine/mine-create-alert-box.js")
  script(src="/pagejs/neighborCar/pagejs-neighborCar-list.js")
block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        //- brand
        a(class="navbar-brand" href="/")
          img(src="/images/bn.png")
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#links")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
      div.collapse.navbar-collapse(id="links")
        ul.nav.navbar-nav
          li 
            a(href="/neighborCar/register-car/") Register Car
          li 
            a(href="/neighborCar/purge-db/") Delete
        form(id="search-form" class="navbar-form navbar-right" method="POST" action="/neighborCar/find-car-by-brand")
          .form-group
            input(type="text" name="keyword" class="form-control" placeholder="keyword")
            span &nbsp;&nbsp;&emsp;
            label(class="radio-inline") 
              input(type="radio" name="keyword-for" value="find-by-brand")
              | brand 
            label(class="radio-inline") 
              input(type="radio" name="keyword-for" value="find-by-color") 
              | color 
            label(class="radio-inline") 
              input(type="radio" name="keyword-for" value="find-by-vehicle-model") 
              | vehicle-model 
     
            span &emsp;&emsp;
          button(type="submit" class="btn btn-info") Search!
  if (top10.length > 0)
    .content
      h1 The Top10 List
      each item in top10
        div.panel.panel-default
          .panel-heading id: #{item.id}
          .panel-body
            // display details
            ul
              li license_plate_number:<span>&emsp;</span> <em>#{item.license_plate_number}</em>
              li brand:<span>&emsp;</span><em> #{item.brand}</em>
              li color: <span>&emsp;</span><em>#{item.color}</em>
              li where_seen:<span>&emsp;</span><em> #{item.where_seen}</em>
              li vehicle_model:<span>&emsp;</span><em> #{item.vehicle_model}</em>
              - var timedesc = (new Date(parseInt(item.whatistime))).toLocaleString()
              li whatistime:<span>&emsp;</span> <em>#{timedesc} </em>
              li visits:<span>&emsp;</span> <em> #{item.visits} </em>
              li memo<span>&emsp;</span> <em>#{item.memo}</em>
            // support buttons 
            .btn-group.btn-group-lg.btn-group-vertical
              button(class="btn btn-info vote" data-vote-id= item.id) vote
              button(class="btn btn-default edit" ) Edit  
              button(class="btn btn-danger delete" data-delete-id= item.id) Delete  
  else
    .content
      h1 these is no items currently.
  br
  br
  div#billboard
