extend ../layouts/main.pug
block pagejs
  script(src="/mine/mine-createModal.js")
  script(src="/mine/mine-create-alert-box.js")
  script(src="/pagejs/readingjournals/pagejs-readingjournals-index.js")
block content
  h1 all items.
  if alljournals
    .panel.panel-default
      each journal in alljournals
        .panel-heading= journal.title
        .panel-body
          ul.list-item-group
            li.list-item= journal.author 
            li.list-item= journal.journal 
            li.list-item= journal.visits 
            li.list-item= journal.tag 
            li.list-item= journal.reading_history 
            li.list-item= journal.timestamp 
          button(data-itemid=journal.id,class="nohm-delete btn btn-default") Delete It 

  else
    h2 zero items.
  div#modalBox
  div#log
